.main {
  display: flex;
	justify-content: center;
	max-width: 1600px;
	width: 100%;
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	max-height: 100px;
	height: 100%;
	
  &__logo {
	width: 70%;
	}
	&__img {
		max-width: 100px;
		width: 100%;
		width: 100%;
		max-height: 100px;
		height: 100%;
		border-radius: 60px;
  }

  &__navbar {
		width: 100%;
  }

  &__items {
		margin: 0 auto;
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		justify-self: end;
		list-style: none;
  }

  &__item {
  }
}
